/**
 * A simple grid layout
 */
.row {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}

.grid {
	min-height: 6em;
	padding: 1em;
}

/**
 * Make sure images scale
 */
img {
	height: auto;
	max-width: 100%;
	margin: auto;
}

h1 {
    text-align: center;
}
